@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pixelify: var(--font-pixelify);
  --font-silkscreen: var(--font-silkscreen);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
}

.head-text {
  /*font-size: 20px;*/
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Silkscreen', sans-serif;
}

.normal-text {
  /*font-size: 16px;*/
  font-family: 'Pixelify Sans', sans-serif;
}
